extends ../_layout.pug
block content
    h1.page-title Projects

    style(type='text/css').
        .center-text {
            text-align: center;
            max-width: 200px;
            max-height: 50px;
            overflow: hidden;
            margin-top: 0;
            margin-bottom: 0;
        }
        .center-img {
            width: 180px;
            height: 150px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .project {
            margin: 5px;
            width: 15em;
        }
        .date {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .project-seperator {
            margin-top: 2px;
            margin-bottom: 6px;
        }
        .single-project {
            background: #ecf0f1;
            margin: 10px;
            border-radius: 5px;
            border: 1px solid #738EAB;
        }

    if projects
        .row.content.justify-content-md-center
            each project in projects
                .col-auto.project.single-project
                    a(href='/projects/'+project.link, alt=project.title)
                        img.center-img(src=project.image, alt=project.title)
                    a(href='/projects/'+project.link)
                        p.center-text #{project.title}
                    p.date #{moment(project.date).format('DD/MM/YYYY')}
                    hr.project-seperator
                    p.center-text= project.shortDescription