extends ../_layout.pug
block content
    h1.page-title Projects
    link(rel='stylesheet', href='/css/listProjects.css')

    if projects
        .row.content.justify-content-md-center
            each project in projects
                .col-auto.project.single-project
                    a(href='/projects/'+project.link, alt=project.title)
                        img.center-img(src=project.image, alt=project.title)
                    a(href='/projects/'+project.link)
                        p.center-text #{project.title}
                    p.date #{moment(project.date).format('DD/MM/YYYY')}
                    hr.project-seperator
                    p.center-text= project.shortDescription