extends ../_layout.pug
block content
    h2.page-title Results
    
    link(rel='stylesheet', href='/css/listPosts.css')
    link(rel='stylesheet', href='/css/listProjects.css')

    hr

    if posts && posts.length > 0
        h3.page-title Blog Posts
        each post in posts
            article.single-post
                h2
                    a(href='/blog/'+post.link)= post.title
                p.stick-right
                    | #{moment(post.date).format('DD/MM/YYYY')}
    else
        h3.page-title No blog posts found
    
    hr

    if projects && projects.length > 0
        h3.page-title Projects
        .row.content.justify-content-md-center
            each project in projects
                .col-auto.project.single-project
                    a(href='/projects/'+project.link, alt=project.title)
                        img.center-img(src=project.image, alt=project.title)
                    a(href='/projects/'+project.link)
                        p.center-text #{project.title}
                    p.date #{moment(project.date).format('DD/MM/YYYY')}
                    hr.project-seperator
                    p.center-text= project.shortDescription
    else
        h3.page-title No projects found
