extends ../_layout.pug
block content
    h2 #{(posts.length == 0 && projects.length == 0) ? 'Nothing found :(' : 'Results'}

    if posts && posts.length > 0
        h3 Blog Posts
        each post in posts
            article
                a(href='/blog/'+post.title)= post.title
                | - #{moment(post.date).format('DD/MM/YYYY')}

    if projects && projects.length > 0
        h3 Projects
        each project in projects
            article
                a(href='/projects/'+project.title)= project.title
                | - #{moment(project.date).format('DD/MM/YYYY')}
